@import "../colourScheme.css";
@import "../pageAnimations.css";

#MorseSelectionContainer {
  margin-top: 40px;
  min-width: 460px;
  top: 20px;
  user-select: none;
  padding-bottom: 20px;
  pointer-events: none;
  opacity: 0;
  transform: translateY(100);
  transition: opacity .2s ease, top .2s ease;
}

#MorseSelectionContainer.show {
  pointer-events: all;
  top: 0px;
  opacity: 1;
  animation: 0.2s ease 0s 1 peekUp;
  transition: opacity .2s ease;
}

#MorseSelectionContainer h3 {
  color: var(--textAlt);
}

#innerSelectionContainer {
  display: flex;
  flex-wrap: wrap;
}

.charContainer {
  width: 250px;
  height: 300px;
  color: var(--text);
  font-weight: 300;
  letter-spacing: 2px;
  margin: 10px;
  padding: 10px;
}

#selectionOptions {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: calc(100vw - 20px);
  margin: none;
}


.MorseSnackBar .msbTextContainer {
  display: grid;
  margin-top: 5px;
  grid-template-rows: 12px auto;
}

.MorseSnackBar .msbTextContainer > div:last-of-type {
  display: flex;
  margin-top: 6px;
  align-items: center;
}

.MorseSnackBar .msbTitle {
  margin: 4px 10px 0px 12px;
  font-size: 12px;
  color: var(--textAlt);
  transition: color .5s ease;
}

.MorseSnackBar .msbChar {
  margin-left: 12px;
  margin-right: 4x;
  font-weight: 500;
  width: 20px;
  font-size: 16px;
  align-self: center;
  height: 25px;
  line-height: 24px;
  color: var(--text);
  transition: color .5s ease;
}

.MorseSnackBar .msbMorse {
  margin-left: 4px;
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 4px;
  letter-spacing: 2px;
  color: var(--tlk-blue);
}