@import "../colourScheme.css";

.MorseButton .MorseButtonAddRemove {
  width: 20px;
  height: 20px;
  color: var(--tlk-green);
  overflow: show;
  cursor: pointer;
  opacity: 0;
  z-index: 800;
  padding-left: auto;
  padding-right: 4px;
  margin-bottom: 0.5px;
  transition: opacity 0.2s ease;
  pointer-events: none;
}

.MorseButton.custom .MorseButtonAddRemove {
  pointer-events: all;
}

.MorseButton.custom span.MuiButton-label:hover .MorseButtonAddRemove {
  opacity: 0.8;
}

.MorseButton.custom span.MuiButton-label:hover .MorseButtonAddRemove:hover {
  opacity: 1;
}

.MorseButton.custom span.MuiButton-label:hover .MorseButtonAddRemove:active {
  opacity: 0.65;
}

.MorseButton .selected .MorseButtonAddRemove {
  color: var(--tlk-red);
}
