@import "../colourScheme.css";
@import "../pageAnimations.css";

#MorseSelectionContainer {
  margin-top: 40px;
  animation: 0.2s ease 0s 1 peekUp;
  min-width: 460px;
  user-select: none;
  padding-bottom: 20px;
}

#MorseSelectionContainer h3 {
  color: var(--textAlt);
}

#innerSelectionContainer {
  display: flex;
  flex-wrap: wrap;
}

.charContainer {
  width: 250px;
  height: 300px;
  color: var(--text);
  font-weight: 300;
  letter-spacing: 2px;
  margin: 10px;
  padding: 10px;
}

#selectionOptions {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: calc(100vw - 20px);
  margin: none;
}
