@import "../colourScheme.css";
@import "../pageAnimations.css";

#TrainerLauncherContainer {
  animation: 0.2s ease 0s 1 peekDown;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 50% 50%;
}

button .iconBtnText {
  margin: 0px 0px 0px 15px;
  letter-spacing: 2px;
  font-size: 24px;
}

.formControl {
  padding: 10px;
}

#launchPrimary {
  display: flex;
  text-align: left;
  height: 50px;
}

#launchSecondary {
  display: flex;
  justify-content: flex-end;
}

.MuiMenu-list {
  background-color: var(--tlk-brand-1);
}

.MuiPaper-elevation8 {
  box-shadow: 0px 4px 12px 0px var(--shadow), 0px 1px 2px 0px var(--shadow-2);
  border-radius: 6px;
  border: 0.5px solid var(--border);
}

@media (max-width: 600px) {
  #TrainerLauncherContainer {
    grid-template-columns: 100%;
  }

  #launchSecondary {
    justify-content: flex-start;
    margin: 20px 0px 0px -20px;
  }
}

#stepperContainer {
  display: grid;
  grid-template-columns: 40px 60px 40px;
  align-items: end;
}

div.Input {
  margin-bottom: 5px;
}

.charStepper {
  background-color: red;
}