@import "../colourScheme.css";

#TrainerSessionContainer {
  position: fixed;
  float: left;
  height: calc(100% - 60px);
  width: 100%;
  left: 0px;
  right: 0px;
  top: 60px;
  bottom: 0px;
  background-color: var(--tlk-brand-2);
  opacity: 0;
  pointer-events: none;
  caret-color: var(--tlk-blue);
  transition: background-color 0.5s ease, opacity 0.3s ease;
}

#TrainerSessionContainer.inSession {
  opacity: 1;
  pointer-events: all;
}

#TrainerSessionContainer textarea {
  position: absolute;
  color: var(--text);
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: var(--session-background);
  width: calc(100% - 60px);
  height: calc(100% - 80px);
  max-width: 1200px;
  max-height: 400px;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  left: 20px;
  right: 20px;
  margin: 60px auto auto auto;
  box-sizing: border-box;
  resize: none;
  outline: none;
  font-size: 20px;
  border: solid 1px var(--home-outline);
  box-shadow: 0px 4px 32px 8px var(--home-shadow);
  border-radius: 6px;
  transition: background-color 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
}
