@import "../colourScheme.css";

.GotoTopButton {
  display: flex;
  position: fixed;
  width: 64px;
  height: 64px;
  bottom: 10px;
  right: 40px;
  border: 1px solid var(--border);
  box-sizing: border-box;
  border-radius: 32px;
  background-color: var(--tlk-brand-1);
  overflow: hidden;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.16);
  user-select: none;
  pointer-events: none;
  opacity: 0;
  transition: background-color .5s ease, border .5s ease, bottom .2s ease, opacity .2s ease;
}

.GotoTopButton.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: all;
} 

.GotoTopButton.show:hover {
  border: 1px solid var(--tlk-blue);
} 

.GotoTopButton .gotoTopIcon {
  color: var(--textAlt);
  transition: color .5s ease;
}