@import "../colourScheme.css";
@import "../pageAnimations.css";

#homeBackground {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  object-fit: cover;
  animation: 0.3s ease 0s 1 zoomOut;
  overflow: hidden;
}

#homeContainer {
  width: 100%;
  height: calc(100% - 60px);
  top: 60px;
  left: 0px;
  position: absolute;
  display: grid;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}

#homeOptionContainer {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  justify-content: center;
  padding: 0px 20px 0px 20px;
  user-select: none;
  background-color: var(--tlk-brand-1);
  border-radius: 6px;
  border: 1px solid var(--tlk-blue);
  box-shadow: 0px 4px 12px 0px var(--shadow), 0px 1px 2px 0px var(--shadow-2);
  animation: 0.3s ease 0s 1 zoomIn;
  transition: background-color 0.5s ease;
}

.homeOptionOuter {
  position: relative;
  display: grid;
  width: 200px;
  height: 260px;
  cursor: pointer;
  margin: 0px 20px 0px 20px;
  box-sizing: border-box;
}

.homeOptionOuter .homeOptionInner {
  position: absolute;
  border-radius: 6px;
  margin-top: 50px;
  width: 200px;
  height: 200px;
  margin-bottom: 0px;
  background-color: transparent;
  box-shadow: none;
  box-sizing: border-box;
  transform: perspective(100px) translateZ(0px);
  transition: margin-bottom 0.3s ease, transform 0.3s ease;
}

.homeOptionOuter:hover .homeOptionInner {
  transform: perspective(100px) translateZ(10px);
}

.homeOptionOuter:hover .homeOptionInner:active {
  transition-duration: 0.1s;
}

.homeOptionOuter .homeIconContainer {
  align-self: center;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 0px auto;
  color: var(--text);
  transform: perspective(100px) translateZ(-12px);
  transition: color 0.3s ease;
}

.homeOptionOuter p {
  padding: 40px 10px 10px 10px;
  font-size: 18px;
  text-align: center;
  transition: color 0.3s ease;
}


@media (max-width: 780px) {
  #homeOptionContainer {
    margin: 200px 0px 20px 0px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
}
