@import "../colourScheme.css";

#navContainer {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: var(--tlk-brand-1);
  z-index: 1000;
  user-select: none;
  overflow: visible;
  border-bottom: 1px solid var(--border);
  box-sizing: border-box;
  box-shadow: 0px 0px 14px 0px var(--shadow);
  top: 0;
  transition: background-color 0.5s ease;
}

#navContent {
  width: 100%;
  height: 100%;
  padding: 0px 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  outline: none;
}

#navContent #navLinkContainer h3 {
  position: relative;
  justify-self: flex-start;
  display: inline-block;
  color: var(--text);
  opacity: 0.5;
  font-size: 20px;
  margin: 0px 5px 0px 5px;
  transition: opacity 0.2s ease, color 0.5s ease;
  cursor: pointer;
}

#navContent #navLinkContainer h3:hover {
  opacity: 0.65;
}

#navContent #navLinkContainer .active h3 {
  opacity: 1;
}

#navContent #navOptionContainer {
  display: flex;
}

#navOptionContainer {
  margin-right: 0px;
}

#navLinkContainer {
  display: flex;
  align-items: center;
}

#navContent .logo {
  position: relative;
  justify-self: flex-start;
  display: inline-block;
  align-self: center;
  background-color: var(--text);
  opacity: 0.5;
  mask: url("../../images/MorseLogo.svg");
  width: 60px;
  height: 60px;
  transition: opacity 0.2s ease, background-color 0.5s ease;
  margin-right: 5px;
}

#navContent .logo:hover {
  opacity: 0.65;
}

#navContent .active .logo {
  opacity: 1;
}
