@import "../colourScheme.css";

#settingsAciveIndicator {
  position: absolute;
  width: 40px;
  height: 0px;
  opacity: 0;
  background-color: var(--tlk-blue);
  top: 60px;
  pointer-events: none;
  transition: top 0.3s ease, height 0.3s ease, opacity .3s ease;
}

#settingsAciveIndicator.show {
  opacity: 1;
  top: 57px;
  height: 3px;
}

#settingsDDContainer {
  position: absolute;
  width: 300px;
  height: 390px;
  background-color: var(--tlk-brand-1);
  top: 67px;
  margin-left: -260px;
  opacity: 0;
  pointer-events: none;
  border: solid 1px var(--border);
  box-shadow: 0px 2px 14px 0px var(--shadow);
  border-radius: 6px;
  overflow: hidden;
  transition: opacity 0.2s ease, top 0.2s ease, background-color 0.5s ease,
    border-bottom 0.5s ease, border 0.5s ease, height .2s ease;
}

#settingsDDContainer.show {
  top: 70px;
  opacity: 1;
  pointer-events: all;
}

#settingsDDContainer #settingsContent {
  width: 300%;
  height: calc(100% - 56px);
  position: relative;
  top: 0px;
  left: 0px;
  transition: left 0.2s ease;
  display: grid;
  grid-template-columns: auto auto auto;
  column-width: 100%;
}

#settingsDDContainer.pane-1 {
  height: 220px;
}

#settingsDDContainer.pane-1 #settingsContent {
  left: -100%;
}

#settingsDDContainer.pane-2 {
  height: 130px;
}

#settingsDDContainer.pane-2 #settingsContent {
  left: -200%;
}
