#delaySettingsContainer {
  display: flex;
}

.settingsInputContainer {
  margin-right: 30px;
}

.settingsInputContainer span {
  font-size: 14px;
  font-weight: 500;
  color: var(--text);
  transition: color .5s ease;
}