@import "../colourScheme.css";

.btn {
  width: auto;
  height: 40px;
  border: none;
  border-radius: 3px;
  background-color: var(--tlk-blue);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--tlk-dark-blue);
}
