@import "../colourScheme.css";

.IconButton {
  width: 40px;
  height: 40px;
  position: relative;
  background: none;
  border: none;
  padding: 0;
  align-content: center;
  justify-content: center;
  user-select: none;
}

.IconButton.small {
  width: 20px;
  height: 20px;
}

.IconButton.large {
  width: 60px;
  height: 60px;
}

.IconButton .icnBtnIcon {
  color: var(--text);
  width: 60%;
  height: 60%;
  position: relative;
  vertical-align: middle;
  opacity: 0.65;
  transition: opacity 0.2s ease, color 0.5s ease;
}

.IconButton:hover .icnBtnIcon {
  opacity: 1;
}

.IconButton .icnBtnBG {
  position: absolute;
  background-color: rgba(127, 127, 127, 0.25);
  border-radius: 50%;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  opacity: 0;
  transition: top 0.26s ease, left 0.26s ease, width 0.26s ease,
    height 0.26s ease, opacity 0.26s ease;
}

.IconButton:hover .icnBtnBG {
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  opacity: 0.65;
  transition: top 0.13s ease, left 0.13s ease, width 0.13s ease,
    height 0.13s ease, opacity 0.1s ease;
}

.IconButton:hover:active .icnBtnBG {
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  opacity: 1;
  transition: top 0.13s ease, left 0.13s ease, width 0.13s ease,
    height 0.13s ease, opacity 0.1s ease;
}

.IconButton .icnBtnToolTip {
  position: absolute;
  top: 38px;
  width: auto;
  height: auto;
  text-align: center;
  background-color: var(--tooltip);
  font-size: 12px;
  border-radius: 3px;
  color: #fff;
  padding: 6px 8px 6px 8px;
  font-weight: 600;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0s ease, top 0s ease;
  z-index: 1002;
}

.IconButton.large .icnBtnToolTip {
  top: 58px;
}

.IconButton:hover:not(:active) .icnBtnToolTip {
  transition: opacity 0.2s ease, top 0.2s ease;
  transition-delay: 0.4s;
  opacity: 1;
  top: 44px;
}

.IconButton.large:hover:not(:active) .icnBtnToolTip {
  transition: opacity 0.2s ease, top 0.2s ease;
  transition-delay: 0.4s;
  opacity: 1;
  top: 64px;
}

button {
  outline: none;
  cursor: pointer;
}

.IconButton.disabled {
  opacity: 0.25;
  pointer-events: none;
}
