@import "../colourScheme.css";

.Input {
  display: inline-flex;
  justify-content: flex-start;
  align-content: flex-start;
  width: 60px;
  position: relative;
  overflow: show;
}

.Input input {
  position: relative;
  background: none;
  border: none;
  color: var(--text);
  caret-color: var(--tlk-blue);
  border-bottom: 1px solid var(--prompt);
  box-sizing: border-box;
  padding-bottom: 4px;
  font-size: 14px;
  outline: none;
  text-align: center;
  width: 100%;
  left: 0px;
  bottom: 0px;
  box-sizing: border-box;
  transition: color 0.5s ease;
}

.Input input:focus {
  color: var(--text);
}

.Input:hover input {
  padding-bottom: 3px;
  border-bottom: 2px solid var(--text);
}

.Input .inputBorderHighlight {
  display: inline-block;
  position: absolute;
  height: 2px;
  background-color: var(--tlk-blue);
  width: 0%;
  left: 50%;
  bottom: 0px;
  pointer-events: none;
}

.Input:focus-within .inputBorderHighlight {
  transition: left 0.2s ease-in-out, width 0.2s ease-in-out;
  width: 100%;
  left: 0%;
}

.Input input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Input input[type="number"] {
  -moz-appearance: textfield;
}

.InputPrompt {
  font-size: 0.8571428571428571rem;
  transform: translate(2px, 2px) scale(0.75);
  color: var(--prompt);
  position: absolute;
  left: -10px;
  top: -25px;
  pointer-events: none;
  white-space: nowrap;
  width: 100%;
}

.Input .entryRipple {
  position: absolute;
  width: 0px;
  height: 0px;
  bottom: 0px;
  left: 50%;
  background-color: var(--tlk-blue);
  opacity: 0%;
  border-radius: 0px 0px 0px 0px;
  pointer-events: none;
  user-select: none;
}

@keyframes inputRipple {
  0% {
    width: 0px;
    height: 0px;
    border-radius: 0px 0px 0px 0px;
    left: 50%;
    bottom: 0px;
    opacity: .5;
  }
  100% {
    width: 60px;
    height: 30px;
    border-radius: 60px 60px 0px 0px;
    left: 0%;
    bottom: 0px;
    opacity: 0.0;
  }
}