@import "../colourScheme.css";

.MorseSnackBar {
  position: fixed;
  display: grid;
  grid-template-columns: auto 40px;
  border-radius: 6px;
  background-color: var(--tlk-brand-1);
  border: 1px solid var(--border);
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.3);
  padding: 8px 12px 8px 12px;
  bottom: 32px;
  right: -40px;
  opacity: 0;
  z-index: 950;
  min-width: 320px;
  align-items: center;
  box-sizing: border-box;
  transition: background-color .5s ease, border .3s ease, opacity 0.3s ease, right .3s ease;
}

.MorseSnackBar > div {
  display: flex;
  align-items: center;
}

.MorseSnackBar.show {
  opacity: 1.0;
  right: 32px;
  animation: BorderFlash 2s ease;
}

.MorseSnackBar .msbTextContainer {
  display: grid;
  margin-top: 5px;
  grid-template-rows: 12px auto;
}

.MorseSnackBar .msbTextContainer > div:last-of-type {
  display: flex;
  margin-top: 6px;
  align-items: center;
}

.MorseSnackBar .msbTitle {
  margin: 4px 10px 0px 12px;
  font-size: 12px;
  color: var(--textAlt);
  transition: color .5s ease;
}

.MorseSnackBar .msbChar {
  margin-left: 12px;
  margin-right: 4x;
  font-weight: 500;
  width: 20px;
  font-size: 16px;
  align-self: center;
  height: 25px;
  line-height: 24px;
  color: var(--text);
  transition: color .5s ease;
}

.MorseSnackBar .msbMorse {
  margin-left: 4px;
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 4px;
  letter-spacing: 2px;
  color: var(--tlk-blue);
}

@keyframes BorderFlash {
  0%   { border: 1px solid var(--tlk-blue); }
  35%   { border: 1px solid var(--tlk-blue); }
  100% { border: 1px solid var(--border); }
}