@import "../colourScheme.css";

.MorseSnackBar {
  position: fixed;
  display: grid;
  grid-template-columns: auto 40px;
  border-radius: 6px;
  background-color: var(--tlk-brand-1);
  border: 1px solid var(--border);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2), 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  padding: 8px 12px 8px 12px;
  bottom: 32px;
  right: -40px;
  opacity: 0;
  z-index: 950;
  min-width: 320px;
  align-items: center;
  box-sizing: border-box;
  transition: background-color .5s ease, border .3s ease, opacity 0.3s ease, right .3s ease;
}

.MorseSnackBar > div {
  display: flex;
  align-items: center;
}

.MorseSnackBar.show {
  opacity: 1.0;
  right: 32px;
  animation: BorderFlash 2s ease;
}

@keyframes BorderFlash {
  0%   { border: 1px solid var(--tlk-blue); }
  35%   { border: 1px solid var(--tlk-blue); }
  100% { border: 1px solid var(--border); }
}