.StepperContainer {
  display: grid;
  grid-template-columns: 40px 60px 40px;
  align-items: end;
  opacity: 0;
  pointer-events: none;
  margin-right: 20px;
  margin-left: -20px;
  transition: opacity 0.2s ease, margin-right 0.2s ease, margin-left 0.2s ease;
}

.StepperContainer.visible {
  margin-right: 0px;
  margin-left: 0px;
  pointer-events: all;
  opacity: 1;
}

.StepperContainer.Input {
  margin-bottom: 5px;
}

.IconButton.disabled,
.IconButton.disabled {
  opacity: 0.5;
  pointer-events: none;
}
